<br/>

<form #form="ngForm" (ngSubmit)="saveProposal()" autocomplete="off" novalidate [ngBusy]="busyProposal">

  <div class="row">

    <div class="form-group col-sm-offset-2 col-sm-4">
      <div class="form-group has-error" [ngClass]="{'has-error': lastName?.invalid && ( lastName?.touched || mouseOverSubmit === true ) }">
        <label for="lastName">Επώνυμο</label>
        <em class="text-danger" *ngIf="lastName.invalid && ( lastName.touched || mouseOverSubmit === true )">Απαιτείται</em>
        <input #lastName="ngModel" id="lastName" name="lastName" [(ngModel)]="applicationInput.lastName" class="form-control" type="text"
          required>
      </div>
    </div>

    <div class="form-group col-sm-4">
      <div class="form-group has-error" [ngClass]="{'has-error': firstName?.invalid && ( firstName?.touched || mouseOverSubmit === true ) }">
        <label for="firstName">Όνομα</label>
        <em class="text-danger" *ngIf="firstName.invalid && ( firstName.touched || mouseOverSubmit === true )">Απαιτείται</em>
        <input #firstName="ngModel" id="firstName" name="firstName" [(ngModel)]="applicationInput.firstName" class="form-control"
          type="text" required>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="form-group col-sm-offset-2 col-sm-4">
      <div class="form-group has-error" [ngClass]="{'has-error': fatherName?.invalid && ( fatherName?.touched || mouseOverSubmit === true ) }">
        <label for="fatherName">Πατρώνυμο</label>
        <em class="text-danger" *ngIf="fatherName.invalid && ( fatherName.touched || mouseOverSubmit === true )">Απαιτείται</em>
        <input #fatherName="ngModel" id="fatherName" name="fatherName" [(ngModel)]="applicationInput.fatherName" class="form-control"
          type="text" required>
      </div>
    </div>

    <div class="form-group col-sm-4" [class.has-error]="applicationInput.gender === 0  && ( gender?.touched || mouseOverSubmit )">
      <label class="control-label">Φύλο</label>
      <em *ngIf="applicationInput.gender === 0  && ( gender?.touched || mouseOverSubmit )">Απαιτείται</em>
      <div class="">
        <select #gender="ngModel" name="gender" class="form-control" [(ngModel)]="applicationInput.gender" (blur)="validateGender($event)"
          (change)="validateGender($event)">
          <option value="0">ΕΠΙΛΕΞΤΕ</option>
          <option value="1">ΑΝΔΡΑΣ</option>
          <option value="2">ΓΥΝΑΙΚΑ</option>
        </select>
      </div>
    </div>

  </div>


  <div class="row">

    <div class="form-group col-sm-offset-2 col-sm-4">
      <div class="form-group has-error" [ngClass]="{'has-error': taxNumber?.invalid && ( taxNumber?.touched || mouseOverSubmit === true ) }">
        <label for="taxNumber">Α.Φ.Μ.</label>
        <em class="text-danger" *ngIf="taxNumber.invalid && ( taxNumber.touched || mouseOverSubmit === true )">Απαιτείται</em>
        <input #taxNumber="ngModel" id="taxNumber" name="taxNumber" [(ngModel)]="applicationInput.taxNumber" class="form-control"
          type="text" required>
      </div>
    </div>

    <div class="form-group col-sm-4" [class.has-error]="applicationInput.taxOffice === 0  && ( taxOffice?.touched || mouseOverSubmit )">
      <label class="control-label">Δ.Ο.Υ.</label>
      <em *ngIf="applicationInput.taxOffice === 0  && ( taxOffice?.touched || mouseOverSubmit )">Απαιτείται</em>
      <div class="">
        <select #taxOffice="ngModel" name="taxOffice" class="form-control" [(ngModel)]="applicationInput.taxOffice" (blur)="validateTaxOffice($event)"
          (change)="validateTaxOffice($event)">
          <option *ngFor="let taxOffice of taxOffices?.MotorItems" [value]="taxOffice.ItemCode">{{ taxOffice.ItemName }}</option>
        </select>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="form-group col-sm-offset-2 col-sm-4">
      <div class="form-group has-error" [ngClass]="{'has-error': address?.invalid && ( address?.touched || mouseOverSubmit === true ) }">
        <label for="address">Οδός Αριθμός</label>
        <em class="text-danger" *ngIf="address.invalid && ( address.touched || mouseOverSubmit === true )">Απαιτείται</em>
        <input #address="ngModel" id="address" name="address" [(ngModel)]="applicationInput.address" class="form-control" type="text"
          required>
      </div>
    </div>

    <div class="form-group col-sm-4">
      <div class="form-group has-error" [ngClass]="{'has-error': city?.invalid && ( city?.touched || mouseOverSubmit === true ) }">
        <label for="city">Πόλη</label>
        <em class="text-danger" *ngIf="city.invalid && ( city.touched || mouseOverSubmit === true )">Απαιτείται</em>
        <input #city="ngModel" id="city" name="city" [(ngModel)]="applicationInput.city" class="form-control" type="text" required>
      </div>
    </div>

  </div>


  <div class="row">

    <div class="form-group col-sm-offset-2 col-sm-4">
      <div class="form-group has-error" [ngClass]="{'has-error': zip?.invalid && ( zip?.touched || mouseOverSubmit === true ) }">
        <label for="zip">Ταχ. Κωδικός</label>
        <em class="text-danger" *ngIf="zip.invalid && ( zip.touched || mouseOverSubmit === true )">Απαιτείται</em>
        <input #zip="ngModel" id="zip" name="zip" [(ngModel)]="applicationInput.zip" class="form-control" type="text" required>
      </div>
    </div>

    <div class="form-group col-sm-4">
      <div class="form-group has-error" [ngClass]="{'has-error': phone1?.invalid && ( phone1?.touched || mouseOverSubmit === true ) }">
        <label for="phone1">Τηλέφωνο 1</label>
        <em class="text-danger" *ngIf="phone1.invalid && ( phone1.touched || mouseOverSubmit === true )">Απαιτείται</em>
        <input #phone1="ngModel" id="phone1" name="phone1" [(ngModel)]="applicationInput.phone1" class="form-control" type="text"
          required>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="form-group col-sm-offset-2 col-sm-4">
      <div class="form-group has-error" [ngClass]="{'has-error': eMail?.invalid && ( eMail?.touched || mouseOverSubmit === true ) }">
        <label for="eMail">e-mail</label>
        <em class="text-danger" *ngIf="eMail.invalid && ( eMail.touched || mouseOverSubmit === true )">Απαιτείται</em>
        <input #eMail="ngModel" type="text" id="eMail" name="eMail" [(ngModel)]="applicationInput.eMail" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
        />
      </div>
    </div>

  </div>

  <div class="row">

    <p>
      Δίνω τη συγκατάθεσή μου για την επεξεργασία των Προσωπικών μου Δεδομένων με σκοπό τη διενέργεια στοχευμένων δραστηριοτήτων
      marketing ή εμπορικής προώθησης υπηρεσιών ή προϊόντων
    </p>

  </div>

  <div class="form-check row">
    <label class="form-check-label col-sm-7" for="PromotionConcentEFG">1. που προσφέρουν οι εταιρείες του Ομίλου EUROLIFE ERB</label>
    <input class="form-check-input col-sm-1" type="checkbox" id="PromotionConcentEFG" name="PromotionConcentEFG" [(ngModel)]="applicationInput.PromotionConcentEFG">
  </div>

  <div class="form-check row">
    <label class="form-check-label col-sm-7" for="PromotionConcentOther">2. που προσφέρουν τρίτοι συνεργαζόμενοι με τις ετιαρείες του Ομίλου EUROLIFE ERB</label>
    <input class="form-check-input col-sm-1" type="checkbox" id="PromotionConcentOther" name="PromotionConcentOther" [(ngModel)]="applicationInput.PromotionConcentOther">
  </div>

  <!-- PROPOOSAL Button -->

  <div style="text-align: center" *ngIf="showSaveProposal">
    <span (mouseenter)="mouseOverSubmit=true" (mouseleave)="mouseOverSubmit=false">
      <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-success">Καταχώρηση Αίτησης</button>
    </span>
  </div>

</form>

<br/>

<div *ngIf="!applicationResponse?.Success">
  <div *ngFor="let error of errors" class="alert alert-danger col-sm-offset-3 col-sm-6" role="alert">
    <p>{{ error.ErrorCode }} - {{ error.ErrorString }}</p>
  </div>
</div>