.panel {
    margin: 20px;
}

em {
    color: red;
    font-weight: bolder;
    float: right;
}

.panel-body {
    background-color: whitesmoke;
}

.k-tooltip{
    color: navy;
    background: yellow !important;
    width: 400px;
 }