<div class="panel panel-default" [ngBusy]="[busyMarkes,busyUniformed,busyQuotations,busyMunicipalities,busyInterest]">

  <div class="panel-body" style="background-color: white">

    <div class="container">
      <div class="col-sm-8">
        <h1 style="color: #0E3E80;">Υπολογισμός Ασφαλίστρων Αυτοκινήτου</h1>
        <small>Ισχύει για επιβατηγά οχήματα</small>
      </div>
    </div>

    <div class="row">

      <div class="col-sm-8">

        <form #form="ngForm" (ngSubmit)="quotation(undefined)" novalidate>

          <div *ngIf="initialInfo">

            <!-- PANEL 1 Vehicle -->

            <div class="panel panel-default">

              <div class="panel-heading">
                <div class="row">
                  <div class="col-sm-11">
                    <h1 class="bg-primary text-white panelFlag">&nbsp;1&nbsp;</h1>
                    <h1 style="float: left">&nbsp;</h1>
                    <h4 class="panelHeader">Για το αυτοκίνητό σας</h4>
                  </div>
                </div>
              </div>

              <div class="panel-body">

                <div class="row">

                  <div class="form-group col-sm-6" [class.has-error]="plateNo.invalid && ( plateNo?.touched || mouseOverSubmit )">
                    <label class="control-label">Αρ. Κυκλοφορίας</label>
                    <!--em *ngIf="latinCharacters">Δεν επιτέπονται λατινικοί χαρακτήρες</em-->
                    <em *ngIf="plateNo.invalid && ( plateNo?.touched || mouseOverSubmit )">*αποδεκτοί μόνο Ελληνικοί χαρακτήρες</em>
                    <div>
                      <input #plateNo="ngModel" type="text" required minlength="" maxlength="10" class="form-control has-danger" name="plateNo"
                        pattern="^([ΑΒΕΖΗΙΚΜΝΟΡΤΥΧ]{3}?[0-9]{4})?$" (blur)="loadQuotationInfo(plateNo.value)" [ngModel]="quotationInput.plateNo"
                        (ngModelChange)="plateNoToUpper($event)" autofocus/>
                    </div>

                  </div>

                  <div class="form-group col-sm-6" [class.has-error]="quotationInput.markaCode === '0'  && ( marka?.touched || mouseOverSubmit )">
                    <label class="control-label">Μάρκα</label>
                    <em *ngIf="quotationInput.markaCode === '0'  && ( marka?.touched || mouseOverSubmit )">* απαραίτητο</em>
                    <div class="">
                      <select #marka="ngModel" name="marka" class="form-control" [(ngModel)]="quotationInput.markaCode" (blur)="validateMarka($event)"
                        (change)="validateMarka($event)">
                        <option value="0">ΕΠΙΛΕΞΤΕ</option>
                        <option *ngFor="let marka of markesData?.MotorItems" [value]="marka.ItemCode">{{ marka.ItemName }}</option>
                      </select>
                    </div>
                  </div>

                </div>

                <div class="row">

                  <div class="form-group col-sm-6" [class.has-error]="quotationInput.vehicleLicenseYear.toString() === '0' && ( licenseYear?.touched || mouseOverSubmit )">
                    <label class="control-label">Έτος 1ης άδειας κυκλοφορίας</label>
                    <em *ngIf="quotationInput.vehicleLicenseYear.toString() === '0' && ( licenseYear?.touched || mouseOverSubmit )">* απαραίτητο</em>
                    <div>
                      <select #licenseYear="ngModel" id="licenseYear" name="licenseYear" class="form-control" [(ngModel)]="quotationInput.vehicleLicenseYear"
                        (blur)="validateYear($event)" (change)="validateYear($event)">
                        <option value="0" default>ΠΑΡΑΚΑΛΩ ΕΠΙΛΕΞΤΕ</option>
                        <option *ngFor="let year of years" [value]="year">{{ year }}</option>
                      </select>
                    </div>
                  </div>

                  <div class="form-group col-sm-6" [class.has-error]="vehiclePurchaseDate.invalid && ( vehiclePurchaseDate?.touched || mouseOverSubmit )">
                    <label class="control-label">Ημ/νία απόκτησης αυτοκινήτου</label>
                    <em *ngIf="vehiclePurchaseDate.invalid && ( vehiclePurchaseDate?.touched || mouseOverSubmit )">* απαραίτητο</em>
                    <kendo-datepicker #vehiclePurchaseDate="ngModel" class="form-control" [(ngModel)]="quotationInput.vehiclePurchaseDate" name="vehiclePurchaseDate"
                      required></kendo-datepicker>
                  </div>

                </div>

                <div class="row">

                  <div class="form-group col-sm-6" [class.has-error]="vehicleValue.invalid && ( vehicleValue?.touched || mouseOverSubmit )">
                    <label class="control-label">Τρέχουσα Αξία</label>
                    <em *ngIf="vehicleValue.invalid && ( vehicleValue?.touched || mouseOverSubmit )">* απαραίτητο</em>
                    <kendo-numerictextbox #vehicleValue="ngModel" name="vehicleValue" class="form-control" [(ngModel)]="quotationInput.vehicleValue"
                      [spinners]="false" format="c0" required></kendo-numerictextbox>
                  </div>

                  <div class="form-group col-sm-6" [class.has-error]="cc.invalid && ( cc?.touched || mouseOverSubmit )">
                    <label class="control-label">Κυβισμός</label>
                    <em *ngIf="cc.invalid && ( cc?.touched || mouseOverSubmit )">* απαραίτητο</em>
                    <kendo-numerictextbox #cc="ngModel" class="form-control" [spinners]="false" format="n0" name="cc" [(ngModel)]="quotationInput.cc"
                      required></kendo-numerictextbox>
                  </div>

                </div>

                <div class="row">

                  <div class="form-group col-sm-6" [class.has-error]="zip.invalid && ( zip?.touched || mouseOverSubmit )">
                    <label class="control-label">Τ.Κ.</label>
                    <em *ngIf="zip.invalid && ( zip?.touched || mouseOverSubmit )">* απαραίτητο</em>
                    <div>
                      <input #zip="ngModel" type="text" class="form-control" name="zip" [(ngModel)]="quotationInput.zip" required/>
                    </div>
                  </div>

                  <div class="form-group col-sm-6" [class.has-error]="quotationInput.municipalityCode === '0' && ( municipality?.touched || mouseOverSubmit )">
                    <label class="control-label">Νομός</label>
                    <em *ngIf="quotationInput.municipalityCode === '0'  && ( municipality?.touched || mouseOverSubmit )">* απαραίτητο</em>
                    <select #municipality="ngModel" name="municipalityCode" class="form-control" [(ngModel)]="quotationInput.municipalityCode"
                      (blur)="validateMunicipality($event)" (change)="validateMunicipality($event)">
                      <option *ngFor="let municipality of municipalityData?.MotorItems" [value]="municipality.ItemCode">{{ municipality.ItemName }}</option>
                    </select>
                  </div>

                </div>

                <div class="row">

                  <div class="form-group col-sm-6" [class.has-error]="startDate.invalid && ( startDate?.touched || mouseOverSubmit )">
                    <label class="control-label">Έναρξη Συμβολαίου</label>
                    <em *ngIf="startDate.invalid && ( startDate?.touched || mouseOverSubmit )">* απαραίτητη εντός 30 ημερών</em>
                    <kendo-datepicker #startDate="ngModel" class="form-control" [(ngModel)]="quotationInput.contractStartDate" [(value)]="quotationInput.contractStartDate"
                      name="dateStart" [min]="minStartDate" [max]="maxStartDate" required></kendo-datepicker>
                  </div>

                </div>

              </div>

            </div>

            <!-- PANEL 2 For you -->

            <div class="panel panel-default">

              <div class="panel-heading">
                <div class="row">
                  <div class="col-sm-11">
                    <h1 class="bg-primary text-white panelFlag">&nbsp;2&nbsp;</h1>
                    <h1 style="float: left">&nbsp;</h1>
                    <h4 class="panelHeader">Για εσάς</h4>
                  </div>
                </div>
              </div>

              <div class="panel-body">

                <div class="row">

                  <div class="form-group col-sm-6" [class.has-error]="dateBirth.invalid && ( dateBirth?.touched || mouseOverSubmit )">
                    <label class="control-label">Ημ/νία γέννησης</label>
                    <em *ngIf="dateBirth.invalid && ( dateBirth?.touched || mouseOverSubmit )">* απαραίτητο</em>
                    <kendo-datepicker #dateBirth="ngModel" class="form-control" [(ngModel)]="quotationInput.birthDate" name="dateBirth" required></kendo-datepicker>
                  </div>

                  <div class="form-group col-sm-6" [class.has-error]="quotationInput.driverLicenseYear.toString() === '0' && ( diplomaYear?.touched || mouseOverSubmit )">
                    <label class="control-label">Έτος απόκτησης άδειας οδήγησης</label>
                    <em *ngIf="quotationInput.driverLicenseYear.toString() === '0' && ( diplomaYear?.touched || mouseOverSubmit )">* απαραίτητο</em>
                    <div>
                      <select #diplomaYear="ngModel" id="diplomaYear" name="diplomaYear" class="form-control" [(ngModel)]="quotationInput.driverLicenseYear"
                        (blur)="validateYear($event)" (change)="validateYear($event)">
                        <option value="0" default>ΠΑΡΑΚΑΛΩ ΕΠΙΛΕΞΤΕ</option>
                        <option *ngFor="let year of years" [value]="year">{{ year }}</option>
                      </select>

                    </div>
                  </div>

                </div>

              </div>

            </div>

            <!-- PANEL 3 Rest drivers -->

            <div class="panel panel-default">

              <div class="panel-heading">
                <div class="row">
                  <div class="col-sm-11">
                    <h1 class="bg-primary text-white panelFlag">&nbsp;3&nbsp;</h1>
                    <h1 style="float: left">&nbsp;</h1>
                    <h4 class="panelHeader">Για τους υπόλοιπους οδηγούς του αυτοκινήτου σας</h4>
                  </div>
                </div>
              </div>

              <div class="panel-body">

                <div class="row">
                  <div class="form-group col-sm-12 subtitle">
                    <span class='arrowRight'></span>
                    Στοιχεία
                    <b>νεότερου</b> σε ηλικία οδηγού:
                  </div>
                  <div class="form-group col-sm-6">
                    <label class="control-label">Ημ/νία γέννησης</label>
                    <kendo-datepicker #dateBirthYoungest="ngModel" class="form-control" [(ngModel)]="quotationInput.youngestDriverBirthDate"
                      name="dateBirthYoungest"></kendo-datepicker>
                  </div>
                  <div class="form-group col-sm-6">
                    <label class="control-label">Έτος απόκτησης άδειας οδήγησης</label>
                    <div>
                      <select #diplomaYearYoungest="ngModel" id="diplomaYearYoungest" name="diplomaYearYoungest" class="form-control" [(ngModel)]="quotationInput.youngestDriverLicenseYear"
                        (blur)="validateYear($event)" (change)="validateYear($event)">
                        <option *ngFor="let year of years" [value]="year">{{ year }}</option>
                      </select>
                    </div>
                  </div>

                </div>

                <div class="row">
                  <div class="form-group col-sm-12 subtitle">
                    <span class='arrowRight'></span>
                    Στοιχεία
                    <b>μεγαλύτερου</b> σε ηλικία οδηγού:
                  </div>
                  <div class="form-group col-sm-6">
                    <label class="control-label">Ημ/νία γέννησης</label>
                    <kendo-datepicker #dateBirthOldest="ngModel" class="form-control" [(ngModel)]="quotationInput.oldestDriverBirthDate" name="dateBirthOldest"></kendo-datepicker>
                  </div>

                  <div class="form-group col-sm-6">
                    <label class="control-label">Έτος απόκτησης άδειας οδήγησης</label>
                    <div>
                      <select #diplomaYearOldest="ngModel" id="diplomaYearOldest" name="diplomaYearOldest" class="form-control" [(ngModel)]="quotationInput.oldestDriverLicenseYear"
                        (blur)="validateYear($event)" (change)="validateYear($event)">
                        <option *ngFor="let year of years" [value]="year">{{ year }}</option>
                      </select>
                    </div>
                  </div>

                </div>

              </div>

            </div>

            <!-- PANEL 4 Discounts -->

            <div class="panel panel-default">

              <div class="panel-heading">
                <div class="row">
                  <div class="col-sm-11">
                    <h1 class="bg-primary text-white panelFlag">&nbsp;4&nbsp;</h1>
                    <h1 style="float: left">&nbsp;</h1>
                    <h4 class="panelHeader">Εκπτώσεις</h4>
                  </div>
                </div>
              </div>

              <div class="panel-body">

                <div class="row">
                  <div class="col-sm-5 checkboxContainer">
                    <div class="form-check round">
                      <input #publicServant="ngModel" type="checkbox" id="publicServant" class="form-check-input" name="publicServant" [ngModel]="quotationInput.publicServant"
                        (ngModelChange)="updatePublicServant($event)">
                      <label for="publicServant"></label>
                    </div>
                    <div class="form-check-label checkboxLabel">&nbsp;Υπάλληλος Δημοσίου/ΔΕΚΟ</div>
                  </div>

                  <div kendoTooltip [tooltipTemplate]="tooltipPublicServant" filter="span" style="padding-top: 10px;" class="col-sm-1">
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                  </div>

                </div>

                <div class="row">
                  <div class="col-sm-5 checkboxContainer">
                    <div class="form-check round">
                      <input #uniformed="ngModel" type="checkbox" id="uniformed" class="form-check-input" name="uniformed" [(ngModel)]="quotationInput.uniformed"
                        [disabled]="!publicServant.value">
                      <label for="uniformed"></label>
                    </div>
                    <div class="form-check-label checkboxLabel">&nbsp;Ένστολος Υπάλληλος Δημοσίου</div>
                  </div>

                  <div kendoTooltip [tooltipTemplate]="tooltipPublicUniformed" filter="span" style="padding-top: 10px;" class="col-sm-1">
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                  </div>

                  <div class="form-group col-sm-6" [class.has-error]="quotationInput.uniformedCode === 0  && ( uniformedCode?.touched || mouseOverSubmit )"
                    *ngIf="uniformed.value">
                    <label class="control-label">Κατηγορία Ένστολου</label>
                    <em *ngIf="quotationInput.uniformedCode.toString() === '0'  && ( uniformedCode?.touched || mouseOverSubmit )">* απαραίτητο</em>
                    <div class="">
                      <select #uniformedCode="ngModel" name="uniformedCode" class="form-control" [(ngModel)]="quotationInput.uniformedCode" (blur)="validateUniformed($event)"
                        (change)="validateUniformed($event)">
                        <option *ngFor="let uniformed of uniformedData?.MotorItems" [value]="uniformed.ItemCode">{{ uniformed.ItemName }}</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-5 checkboxContainer">
                    <div class="form-check round">
                      <input #secondVehicle="ngModel" type="checkbox" id="secondVehicle" class="form-check-input" name="secondVehicle" [ngModel]="quotationInput.secondVehicle"
                        (ngModelChange)="updateSecondVehicle($event)">
                      <label for="secondVehicle"></label>
                    </div>
                    <div class="form-check-label checkboxLabel">&nbsp;Δεύτερο Αυτοκίνητο</div>
                  </div>

                  <div kendoTooltip [tooltipTemplate]="tooltip2ndVehicle" filter="span" style="padding-top: 10px;" class="col-sm-1">
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                  </div>

                  <div class="form-group col-sm-6" *ngIf="secondVehicle.value">
                    <label class="control-label">Αρ. Κυκλοφορίας</label>
                    <em *ngIf="!quotationInput.plateNo2  && ( plateNo2?.touched || mouseOverSubmit )">* απαραίτητο</em>
                    <div>
                      <input #plateNo2="ngModel" type="text" required minlength="" maxlength="10" class="form-control has-danger" name="plateNo2"
                        [(ngModel)]="quotationInput.plateNo2" />
                    </div>
                  </div>

                </div>

              </div>

            </div>

            <br/>

            <p>Στο στάδιο αυτό η Eurolife ERB Ασφαλιστική θα χρησιμοποιήσει τα παραπάνω στοιχεία σας μόνο για τον παρόν υπολογισμό
              και δεν θα προχωρήσει σε περαιτέρω επεξεργασία ή αποθήκευση</p>

            <br/>

            <div class="buttonContainer">
              <span (mouseenter)="mouseOverSubmit=true" (mouseleave)="mouseOverSubmit=false">
                <button type="submit" [disabled]="form.invalid || !validateUniformed() || !validateMunicipality() || !validateMarka() || !validateYear()"
                  class="btn btn-lg pricingButton">
                  Υπολογισμός
                </button>
              </span>
            </div>
          </div>


          <div *ngIf="customError?.length > 0" class="alert alert-danger" role="alert">
            <p>{{ customError }}</p>
          </div>

          <!-- COVERS -->

          <div *ngIf="quotationResult?.Allow">
            <div class="description">
              <span class='arrowRight'></span>
              Επιλέξετε ποιες από τις πιο κάτω καλύψεις επιθυμείτε να προσθέσετε στο πρόγραμμά σας.
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="panel panel-primary">

                  <div class="panel-heading coverPanel">
                    <div class="row">
                      <h4 class="col-sm-5">Καλύψεις Πακέτου</h4>
                      <h4 class="col-sm-1"></h4>
                      <h4 class="col-sm-4" style="text-align: right;">Τιμή Κάλυψης</h4>
                      <h4 class="col-sm-2">Επιλογή</h4>
                    </div>
                    <div class="row">
                      <div class="col-sm-offset-10 col-sm-2" style="text-align: center">
                        <div class="round" style="margin-left: 27px; margin-bottom: 8px;">
                          <input type="checkbox" class="form-check-input" id="optionalCoversCheck" name="optionalCoversCheck" [ngModel]="optionalCoversCheck"
                            (ngModelChange)="updateOptionalCovers($event)">
                          <label for="optionalCoversCheck"></label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="panel-body">

                    <div *ngFor="let cover of mandatoryCovers; let i = index;" class="row coverGroup">

                      <div class="form-group">
                        <label class="col-sm-6 coverLabel">{{ cover.Description }}</label>
                        <div class="col-sm-1 infoTooltip" kendoTooltip>
                          <span class="glyphicon glyphicon-info-sign" aria-hidden="true" [title]="cover.ShortDescription"></span>
                        </div>
                        <label *ngIf="quotationInput.contractDuration === '12'" class="col-sm-3 coverPrice" style="text-align: right;">{{ cover.CoverPremia[0]?.CoverPremium | currency:'EUR':'symbol-narrow':'1.2-2' }}</label>
                        <label *ngIf="quotationInput.contractDuration === '6'" class="col-sm-3 coverPrice" style="text-align: right;">{{ cover.CoverPremia[1]?.CoverPremium | currency:'EUR':'symbol-narrow':'1.2-2' }}</label>
                        <label *ngIf="quotationInput.contractDuration === '3'" class="col-sm-3 coverPrice" style="text-align: right;">{{ cover.CoverPremia[2]?.CoverPremium | currency:'EUR':'symbol-narrow':'1.2-2' }}</label>
                        <div class="checkmark col-sm-2"></div>
                      </div>

                    </div>
                    <div class="coverGroup">
                      <div *ngFor="let cover of setCovers; let i = index;" class="row">
                        <div class="form-group">
                          <label class="col-sm-6 coverLabel">{{ cover.Description }}</label>
                          <div class="col-sm-1 infoTooltip" kendoTooltip>
                            <span class="glyphicon glyphicon-info-sign" aria-hidden="true" [title]="cover.ShortDescription"></span>
                          </div>

                          <label *ngIf="i === 1" class="col-sm-3 coverPrice" style="text-align: right;">{{ setCoversInitialAmount | currency:'EUR':'symbol-narrow':'1.2-2' }}</label>

                          <!--
                          <label *ngIf="quotationInput.contractDuration === '12'" class="col-sm-3 coverPrice" style="text-align: right;">{{ cover.CoverPremia[0]?.CoverPremium | currency:'EUR':'symbol-narrow':'1.2-2' }}</label>
                          <label *ngIf="quotationInput.contractDuration === '6'" class="col-sm-3 coverPrice" style="text-align: right;">{{ cover.CoverPremia[1]?.CoverPremium | currency:'EUR':'symbol-narrow':'1.2-2' }}</label>
                          <label *ngIf="quotationInput.contractDuration === '3'" class="col-sm-3 coverPrice" style="text-align: right;">{{ cover.CoverPremia[2]?.CoverPremium | currency:'EUR':'symbol-narrow':'1.2-2' }}</label>
                           -->
                          <div *ngIf="i === 1" class="round col-sm-2" style="margin-left: 37px;">
                            <input #setCover="ngModel" type="checkbox" id="{{'set'+cover+i.toString()}}" class="form-check-input" name="{{'set'+cover+i.toString()}}"
                              [ngModel]="cover.Selected" (ngModelChange)="setCoversCheckAll(setCover.value)" [disabled]="removeTheft(cover)">
                            <label for="{{'set'+cover+i.toString()}}"></label>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div *ngFor="let cover of optionalCovers; let i = index;" class="row coverGroup">

                      <div class="form-group">
                        <label class="col-sm-6 coverLabel">{{ cover.Description }}</label>
                        <div class="col-sm-1 infoTooltip" kendoTooltip>
                          <span class="glyphicon glyphicon-info-sign" aria-hidden="true" [title]="cover.ShortDescription"></span>
                        </div>
                        <label *ngIf="quotationInput.contractDuration === '12'" class="col-sm-3 coverPrice" style="text-align: right;">{{ cover.CoverPremia[0]?.CoverPremium | currency:'EUR':'symbol-narrow':'1.2-2' }}</label>
                        <label *ngIf="quotationInput.contractDuration === '6'" class="col-sm-3 coverPrice" style="text-align: right;">{{ cover.CoverPremia[1]?.CoverPremium | currency:'EUR':'symbol-narrow':'1.2-2' }}</label>
                        <label *ngIf="quotationInput.contractDuration === '3'" class="col-sm-3 coverPrice" style="text-align: right;">{{ cover.CoverPremia[2]?.CoverPremium | currency:'EUR':'symbol-narrow':'1.2-2' }}</label>
                        <div class="round col-sm-2" style="margin-left: 37px;">
                          <input type="checkbox" class="form-check-input col-sm-2" name="{{cover+i.toString()}}" id="{{cover+i.toString()}}" [(ngModel)]="cover.Selected">
                          <label for="{{cover+i.toString()}}"></label>
                        </div>
                      </div>

                    </div>
                    <div class="row freqContainer">
                      <div class="freqLabel col-sm-6">Συνολικά ασφάλιστρα</div>
                      <div></div>
                      <select name="duration" class="form-control dropdown col-sm-8" name="duration" [(ngModel)]="quotationInput.contractDuration">
                        <option value="12" class="freqOption">
                          {{ (GrossPremiums12 + coversAmount12)?.toFixed(2) | currency:'EUR':'symbol-narrow':'1.2-2' }} /έτος
                        </option>
                        <option value="6" class="freqOption">
                          {{ (GrossPremiums6 + coversAmount6)?.toFixed(2) | currency:'EUR':'symbol-narrow':'1.2-2' }} /εξάμηνο
                        </option>
                        <option value="3" class="freqOption">
                          {{ (GrossPremiums3 + coversAmount3)?.toFixed(2) | currency:'EUR':'symbol-narrow':'1.2-2' }} /τρίμηνο
                        </option>
                      </select>
                    </div>

                  </div>
                </div>
              </div>

            </div>

          </div>

          <!-- OPTIONAL COVERS -->

          <div *ngIf="quotationResult?.Allow">
            <div class="row" style="text-align: center" *ngIf="authenticationService?.authenticationInfo?.efginsUser">
              <div class="col-sm-12">
                <!--a class="btn btn-lg btn-success" [routerLink]="['/application']">Δημιουργία Αίτησης</a-->
                <button class="btn btn-lg btn-success" (click)="applicationInput()">Δημιουργία Αίτησης</button>
              </div>
            </div>
          </div>

          <br/>

          <div *ngIf="!quotationResult?.Allow">
            <div *ngFor="let error of errors" class="alert alert-danger" role="alert">
              <p>{{ error.ErrorCode }} - {{ error.ErrorString }}</p>
            </div>
          </div>

        </form>

        <!-- PANEL Contact Information -->
        <div class="buttonContainer" style="margin-bottom: 52px" *ngIf="quotationResult?.Allow && enterContactInfo">
          <button class="btn btn-lg pricingButton" (click)="openContactInfoArea()">
            Ενδιαφέρομαι
          </button>
        </div>

        <div *ngIf="coverReplacementNotAllowed" class="alert alert-danger" role="alert">
          <p>Η παροχή αυτοκινήτου αντικατάστασης θα πρέπει να δίνεται μόνο αν επιλεγεί κάποια από τις κάτωθι:</p>
          <ul>
            <li>Πυρκαγιά</li>
            <li>Ολική Κλοπή, μερική κλοπή, κατεστραμμένες κλειδαριές</li>
            <li>Φυσικές Καταστροφές</li>
          </ul>
        </div>

        <div *ngIf="open">
          <div class="description">
            <span class='arrowRight'></span>
            Συμπληρώστε τα στοιχεία σας και ένας συνεργάτης μας θα επικοινωνήσει μαζί σας για να ολοκληρώσετε την αγορά
          </div>
          <form #formContact="ngForm" novalidate>

            <div class="panel panel-primary">

              <div class="panel-heading">
                <h4>Στοιχεία Επικοινωνίας</h4>
              </div>

              <div class="panel-body">

                <div class="row">

                  <div class="form-group col-sm-6" [class.has-error]="firstName.invalid && ( firstName?.touched || mouseOverSubmit )">
                    <label class="control-label">Όνομα</label>
                    <em *ngIf="firstName.invalid && ( firstName?.touched || mouseOverSubmit )">* απαραίτητο</em>
                    <input #firstName="ngModel" class="form-control" [(ngModel)]="contactInput.firstName" name="firstName" required/>
                  </div>

                  <div class="form-group col-sm-6" [class.has-error]="lastName.invalid && ( lastName?.touched || mouseOverSubmit )">
                    <label class="control-label">Επώνυμο</label>
                    <em *ngIf="lastName.invalid && ( lastName?.touched || mouseOverSubmit )">* απαραίτητο</em>
                    <input #lastName="ngModel" class="form-control" [(ngModel)]="contactInput.lastName" name="lastName" required/>
                  </div>

                </div>

                <div class="row">

                  <div class="form-group col-sm-6" [class.has-error]="phone.invalid && ( phone?.touched || mouseOverSubmit )">
                    <label class="control-label">Τηλέφωνο Επικοινωνίας</label>
                    <em *ngIf="phone.invalid && ( phone?.touched || mouseOverSubmit )">* απαραίτητο</em>
                    <input #phone="ngModel" class="form-control" [(ngModel)]="contactInput.phone" name="phone" type="number" required/>
                  </div>

                  <div class="form-group col-sm-6" [class.has-error]="eMail.invalid && ( eMail?.touched || mouseOverSubmit )">
                    <label class="control-label">e-mail</label>
                    <em *ngIf="eMail.invalid && ( eMail?.touched || mouseOverSubmit )">* απαραίτητο</em>
                    <input #eMail="ngModel" class="form-control" [(ngModel)]="contactInput.eMail" name="eMail" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$"
                    />
                  </div>

                </div>
                <div class="row">
                  <div class="form-check">
                    <div class="col-sm-12 checkboxContainer">
                      <div class="form-check round">
                        <input class="form-check-input" type="checkbox" value="" id="personalData" name="personalData" [(ngModel)]="personalData">
                        <label for="personalData"></label>
                      </div>
                      <div class="form-check-label col-sm-10 checkboxLabel">Ενημερώθηκα σχετικά με την επεξεργασία των
                        <a href="assets/PersonalData.pdf" target="_blank">προσωπικών μου δεδομένων</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="sendButtonContainer">
                  <button (mouseenter)="mouseOverSubmit=true" (mouseleave)="mouseOverSubmit=false" type="submit" style="width: 100%" [disabled]="formContact.invalid || !personalData"
                    class="btn btn-lg btn-success" (click)="insertContact()">
                    Αποστολή Στοιχείων
                  </button>
                </div>
                <div *ngIf="success" class="alert alert-success" style="text-align: center">
                  <p>Τα στοιχεία σας καταχωρήθηκαν. Ένας εκπρόσωπός μας θα επικοινωνήσει σύντομα μαζί σας προκειμένου να ολοκληρώσετε
                    την αγορά ασφάλισης του αυτοκινήτου σας. Το ωράριο λειτουργίας είναι Δευτέρα έως Παρασκευή, 9:00 με 17:00.</p>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- SIDEBAR -->

      <div class="col-sm-4">

        <div class="panel panel-default">
          <div class="panel-body">
            <h4 class="title">Εξυπηρέτηση Πελατών</h4>
            <div style="float: left;">
              <h4>
                <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>&nbsp;</h4>
            </div>
            <div style="float: left">
              <h4>210 93 03 800</h4>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div class="col-sm-12">
                <div style="float: left;">
                  <a target="_blank" href="https://www.eurobank.gr/el/retail/proionta-upiresies/proionta/asfaleia/autokinitou/euelikti-asfaleia-autokinitou">
                    <h4 style="font-size: 16px">Δείτε αναλυτικά ποιες είναι οι καλύψεις και τι σας εξασφαλίζουν</h4>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-body">
            <h4 class="title">Τι να κάνω σε περίπτωση που χρειαστώ...</h4>

            <div class="row">

              <div class="col-sm-6">

                <div style="float: left;">
                  <a target="_blank" href="http://www.eurolife.gr/el/odikh%20boh8eia">
                    <ul>
                      <li>Φροντίδα ατυχήματος AutoAssist</li>
                    </ul>
                  </a>

                </div>

              </div>

              <div class="col-sm-offset-2 col-sm-4">
                <img src="assets/crain.png" alt="">
              </div>

            </div>

          </div>

        </div>


        <!--
          <div class="panel panel-default">

          <div class="panel-body">
            <h4 class="title">Χρειάζεστε βοήθεια;</h4>

            <div class="row">

              <div class="col-sm-4">
                <img src="assets/operator.png" alt="">
              </div>

              <div class="col-sm-6">

                <div>
                  <ul>
                    <li>
                      <a href="#" target="_blank" onclick="return window.open('https://click2chat.eurolife.gr/code/webchatLogin.php','ClickToChat','width=430,height=432');">Live Chat</a>
                    </li>
                    <li>
                      <a href="#" target="_blank" onclick="return window.open('https://click2call.eurolife.gr/code/callback.php','ClickToCall','width=430,height=541');">Click to Call</a>
                    </li>
                  </ul>
                </div>

              </div>

            </div>

          </div>


        </div>

      -->

      </div>
    </div>
  </div>
</div>


<ng-template #tooltip2ndVehicle let-anchor>
  <p>
    <strong>Παρέχεται έκπτωση </strong>στο δεύτερο αυτοκίνητο και ισχύει για Ε.Ι.Χ. αυτοκίνητα που ανήκουν σε φυσικά πρόσωπα, με
    τις πιο κάτω προϋποθέσεις:</p>
  <ul>
    <li>ασφάλιση στην εταιρεία δύο αυτοκινήτων (είτε δικό σας , είτε άλλου ατόμου ή άλλων ιδιοκτητών οι οποίοι ζουν μόνιμα μαζί
      σας κάτω από την ίδια στέγη)</li>
    <li>αποκλειστικοί οδηγοί των αυτοκινήτων να είναι το παντρεμένο ζευγάρι ή γονέας και ανύπαντρο παιδί ή ανύπαντρα αδέλφια</li>
    <li>η έκπτωση μπορεί να δοθεί και στην περίπτωση που ασφαλίζονται ένα ΕΙΧ αυτοκίνητο που ανήκει σε φυσικό πρόσωπο και ένα
      σε εταιρεία, με την προϋπόθεση να μας δηλωθεί εγγράφως ότι αποκλειστικοί οδηγοί των αυτοκινήτων είναι είτε το παντρεμένο
      ζευγάρι ή γονέας και ανύπαντρο παιδί ή ανύπαντρα αδέλφια</li>
  </ul>
</ng-template>

<ng-template #tooltipPublicServant let-anchor>
  <p>
    <strong>Παρέχεται έκπτωση 10% </strong>στα ασφάλιστρα Αστικής Ευθύνης στο ΕΙΧ αυτοκίνητο που ανήκει σε εν ενεργεία Δημόσιο Υπάλληλο
    ή Υπάλληλο ΔΕΚΟ με την προϋπόθεση προσκόμισης στην εταιρεία ενός εκ των κάτωθι δικαιολογητικών:</p>
  <ul>
    <li>απόκομμα μισθοδοσίας</li>
    <li>βεβαίωση εργασίας από την υπηρεσία (με σφραγίδα και υπογραφή Δ/ντή)</li>
  </ul>
</ng-template>

<ng-template #tooltipPublicUniformed let-anchor>
  <p>
    <strong>Παρέχεται </strong>επιπλέον της έκπτωσης εν ενεργεία Δημοσίου Υπαλλήλου ή Υπαλλήλου ΔΕΚΟ, έκπτωση 7% στα ασφάλιστρα Αστικής
    Ευθύνης στο ΕΙΧ αυτοκίνητο που ανήκει σε εν ενεργεία Ένστολο Δημόσιο Υπάλληλο που υπηρετεί σε κάποιο από τα παρακάτω
    σώματα:
  </p>
  <ul>
    <li>Ελληνική Αστυνομία</li>
    <li>Ελληνικό Στρατό</li>
    <li>Αγροφυλακή</li>
    <li>Πολεμικό Ναυτικό</li>
    <li>Πολεμική Αεροπορία</li>
    <li>Πυροσβεστικό Σώμα</li>
    <li>Λιμενικό Σώμα</li>
  </ul>
</ng-template>