<form #form="ngForm" novalidate>

  <div class="row" style="padding: 10px">

    <div class="col-md-6">

      <div class="card">

        <div class="card-header">
          <h5>Στοιχεία Συμβολαίου</h5>
        </div>

        <div class="card-body">

          <div class="row">

            <div class="form-group col-md-6">
              <label for="startDate">Ημερομηνία Έναρξης</label>
              <div class="">
                <kendo-datepicker class="form-control" [(value)]="dateStart"></kendo-datepicker>
              </div>
            </div>

            <div class="form-group col-md-6">
              <label>Διάρκεια Ασφάλισης</label>
              <div class="">
                <select name="duration" class="form-control">
                  <option value="1">Ετήσια</option>
                  <option value="2">Εξαμηνιαία</option>
                  <option value="3">Τριμηνιαία</option>
                </select>
              </div>
            </div>

          </div>

          <div class="row">

            <div class="form-group col-md-6">
              <label>Ημερομηνία Γέννησης Α' ασφαλισμένου οδηγού</label>
              <div class="">
                <kendo-datepicker class="form-control" [(value)]="dateBirth"></kendo-datepicker>
              </div>
            </div>

            <div class="form-group col-md-6">
              <label>Ημερομηνία απόκτησης διπλώματος Α' ασφαλισμένου οδηγού</label>
              <div class="">
                <kendo-datepicker class="form-control" [(value)]="dateDiploma"></kendo-datepicker>
              </div>
            </div>

          </div>

          <div class="row">

            <div class="form-group col-md-6">
              <label>Ημερομηνία 1ης άδειας κυκλοφορίας</label>
              <div class="">
                <kendo-datepicker class="form-control" [(value)]="dateLicense"></kendo-datepicker>
              </div>
            </div>

            <div class="form-group col-md-6">
              <label>Ασφαλιζόμενη Αξία</label>
              <div class="">
                <kendo-numerictextbox class="form-control" format="c"></kendo-numerictextbox>
              </div>
            </div>

          </div>

        </div>

      </div>

    </div>

    <div class="col-md-6">

      <div class="card">

        <div class="card-header">
          <h5>Στοιχεία Οχήματος</h5>
        </div>

        <div class="card-body">

          <div class="row">

            <div class="form-group col-md-6">
              <label>Αριθμός Κυκλοφορίας</label>
              <div>
                <input type="text" required class="form-control" name="plateNo" ngModel />
              </div>
            </div>

            <div class="form-group col-md-6">
              <label>Αριθμός Κυκλοφορίας 2ου Αυτοκινήτου</label>
              <div>
                <input type="text" required class="form-control" name="plateNo2" ngModel />
              </div>

            </div>

          </div>

          <div class="row">

            <div class="form-group col-md-6">
              <label>Μάρκα</label>
              <div class="">
                <select name="marka" class="form-control">
                  <option value="1">Ετήσια</option>
                  <option value="2">Εξαμηνιαία</option>
                  <option value="3">Τριμηνιαία</option>
                </select>
              </div>
            </div>

            <div class="form-group col-md-6">
              <label>Χρήση</label>
              <div class="">
                <select name="usage" class="form-control">
                  <option value="1">Ετήσια</option>
                  <option value="2">Εξαμηνιαία</option>
                  <option value="3">Τριμηνιαία</option>
                </select>
              </div>
            </div>

          </div>

          <div class="row">

            <div class="form-group col-md-6">
              <label>Κυβισμός</label>
              <div class="">
                <kendo-numerictextbox class="form-control" format="n0"></kendo-numerictextbox>
              </div>
            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

  <div class="row" style="padding: 10px">

    <div class="col-md-6">

      <div class="card">

        <div class="card-header">
          <h5>Στοιχεία Ιδιοκτήτη</h5>
        </div>

        <div class="card-body">

          <div class="row">

            <div class="form-group col-md-6">
              <label>Ταχιδρομικός Κωδικός</label>
              <div>
                <input type="text" required class="form-control" name="zip" ngModel />
              </div>
            </div>

            <div class="col-md-6">

              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="publicServant" name="publicServant" ngModel>
                <label class="form-check-label" for="publicServant">Δημόσιος Υπάλληλος</label>
              </div>

              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="uniformed" name="publicServant" ngModel>
                <label class="form-check-label" for="uniformed">Ένστολος</label>
              </div>

            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

  <button type="submit" class="btn btn-success">Τιμολόγηση</button>

</form>

{{ form.pristine }}