.panel {
    margin: 20px;
    background-color: #f5f5f5;
    border: none;
}
.ng-busy-backdrop {
  position: fixed !important;
}

em {
    color: red;
    font-weight: bolder;
    float: right;
}

.panel-body {
    background-color: whitesmoke;
}
.panel-heading {
  padding: 6px 15px;
}
.coverPanel {
  background-color: #0c6db3 !important;
}
.panelFlag {
  float: left;
  position: absolute;
  font-size: 24px;
  color: #fff;
  left: 16px;
  top: -36px;
  background: #013c82;
  padding: 20px 3px 12px;
}
.panelHeader {
  margin-left: 48px;
  margin-top: 12px;
  color: #0E3E80;
  font-size: 16px;
  font-weight: 700;
}
.pricingToolbar {
  position: sticky;
  bottom: 0;
  width: 100%;
}
.pricingContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #173070;
}
.priceContainer {
  margin: 8px;
}
.pricingLabel {
  font-size: 14px;
  color: white;
}
.subtitle {
  font-size: 16px;
  margin: 28px 0 12px;
}
.infoTooltip {
  padding: 6px;
}
.coverGroup {
  padding: 10px 0;
  border-bottom: 1px solid rgba(0,0,0,0.24);
  margin: 0 !important;
}
.coverGroup > .row {
  margin: 0 !important;
}
.checkmark{
  display:inline-block;
  background-color: #52B147;
  border-radius: 100px;
  width: 5px;
  height: 10px;
  padding: 12px;
  text-align: center;
  &:after{
    content: '';
    margin: -5px -3px;
    display: block;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
}
.k-input {
  height: 100% !important;
}
.arrowRight {
  border: solid #C82F26;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  margin-right: 8px;
}
.description {
  font-size: 16px;
  font-weight: bold;
  margin: 0 20px;
}
.dropdown {
  font-size: 22px;
  height: auto !important;
  font-weight: bold;
}
.coverLabel {
  font-weight: 700;
}
.coverPrice {
  font-weight: 700;
}
.freqContainer {
  display: flex;
  align-items: center;
  padding: 14px 0px;
  margin: 8px 0px;
}
.btn[disabled] {
  opacity: 0.38;
}
.coverPanelTitle {
  font-size: 16px;
  margin-bottom: 0;
}
.buttonContainer {
  max-width: 200px;
  background-color: white;
  margin: auto;
  margin-bottom: 64px;
  margin-top: 32px;
}
.sendButtonContainer {
  max-width: 220px;
  background-color: white;
  margin: 24px auto 24px;
}
.button {
  width: 100%;
  background-color: #C82F26;
  color: white;
  min-height: 62px;
}

.button:hover {
  color: white;
}
.button:focus {
  color: white;
}
.frequencySelect {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  border-radius: 0px;
  cursor: pointer;
}
.frequencySelect:focus {
  box-shadow: none !important;
  color: white !important;
}
.freqLabel {
  font-weight: bold;
  width: 100%;
  padding: 0;
  color: #52B147;
  font-size: 18px;

}
.checkboxLabel {
  margin-top: 8px;
  margin-left: 4px;
}
label {
  font-weight: 500;
  margin: 6px 0;
}
.freqOption {
  color: rgba(0,0,0,0.87);
  padding: 8px;
  cursor: pointer;
}
.k-tooltip{
    color: white;
    background: #52B147 !important;
    width: 100%;
    max-width: 400px;
 }

 .checkboxContainer {
   display: flex;
   padding: 0;
   margin: 7px 0;
 }

// checkbox

.round {
  position: relative;
  margin-left: 20px;
  width: 24px;
  min-width: 24px;
}

.round label {
  background-color: #ece8e8;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 24px;
  right: 0;
  position: absolute;
  top: 0;
  width: 24px;
}

.round label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 5px;
  opacity: 0;
  position: absolute;
  top: 7px;
  transform: rotate(-45deg);
  width: 12px;
}

.round input[type="checkbox"] {
  visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
  background-color: #013c82;
  border-color: #013c82;
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

.round input[type="checkbox"][disabled] + label {
  opacity: 0.38;
  cursor: not-allowed;
}
.coverPanelHeader {
  margin: 0 !important;
  min-height: 72px;
}
.image {
  margin-left: 12px;
}

@media (max-width: 768px) {
  .infoTooltip {
    display: inline-block;
  }
}

@media (max-width: 1000px) {
  .panel {
    margin: 0;
    margin-top: 14px;
  }
  .container {
    padding: 0;
  }
  .panel-body {
    padding: 8px !important;
  }
  h1 {
    font-size: 26px;
  }
}

@media (max-width: 514px) {
  .coverPanelTitle {
    font-size: 14px;
  }
  .h2 {
    font-size: 26px;
  }
  .titlePadding {
    padding-left: 0;
  }
}
